<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/products.css">
    <title>Document</title>
</head>
<body>
    <header>
        {% include './partials/header.html'%}
    </header>
    <main>
        <div class="col-10 button-container">
            <a href="/products/create">
                <button class="plus-button">
                    <span class="button-text">+</span> Afegir
                </button>
            </a>
            
        
        </div>
        
        <div class="col-10 card-container">
            
            {% for product in items %}
    
                <div class="card">
                    <img src="../../static/uploads/{{product['photo'] }}" alt="Descripción de la imagen">
                    <div class="card-content">
                        <h2>{{ product['title'] }}</h2>
                        <p>{{ product['description'] }}</p>
                        <p>{{ product['price'] }}€</p>
                        <a href="products/update/{{ product['id'] }}">
                            <button class="edit-button">
                                <span class="button-text">✎</span> Editar
                            </button>
                        </a>
                        <form action="products/delete/{{ product['id'] }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este producto?')">
                            <button type="submit" class="delete-button">
                                <span class="button-text">🗑</span> Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            
            {% endfor %}
        </div>
    </main>
</body>
</html>