/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 3vh 0; 
}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}
/* Estilos de la tarjeta \/ */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 20%;
    padding: 16px;
    text-align: center;
    transition: transform 0.3s; /* Transición para el efecto hover */
    margin-bottom: 2em;
}

.card img {
    width: 18em;
    height: 18em;
    border-radius: 8px;
}

.card-content {
    margin-top: 16px;
}

.card h2 {
    font-size: 1.5rem;
    margin: 0;
}

.card p {
    font-size: 1rem;
}


.card:hover {
    transform: scale(1.05); 
}

/* Estilos de la tarjeta  /\ */

/* Estilos boton plus  \/ */


.plus-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.button-text {
    margin-right: 8px;
}

.plus-button:hover {
    background-color: #0056b3;
}

/* Estilos boton plus  /\ */


.edit-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 8px; /* Espacio entre el precio y el botón editar */
    transition: background-color 0.3s ease-in-out;
}

.edit-button:hover {
    background-color: #218838;
}

.delete-button {
    background-color: #dc3545; /* Color rojo */
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 8px; /* Espacio entre el precio y el botón eliminar */
    transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
    background-color: #bd2130; /* Color rojo oscuro al hacer hover */
}