<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/create-product.css">
    <title>Document</title>
</head>
<body>
    <header>
        {% include './partials/header.html'%}
    </header>
    <main>
        {% if not product %}
            <form method="POST" action="/products/create" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <p>{{ form.title.label }} {{ form.title() }}</p>
                <p>{{ form.description.label }} {{ form.description() }}</p>
                <p>{{ form.photo.label }} {{ form.photo() }}</p>
                <p>{{ form.price.label }} {{ form.price() }}</p>
                <p>{{ form.category_id.label }} {{ form.category_id() }}</p>
                <p>{{ form.submit(value="Crear") }}</p>
                <input type="reset" value="Reiniciar">
            </form>
            
        {% else %}
             
                <form method="POST" action="/products/update/{{ product['id'] }}" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <p>{{ form.title.label }} {{ form.title() }}</p>
                    <p>{{ form.description.label }} {{ form.description() }}</p>
                    <p>{{ form.photo.label }} {{ form.photo() }}</p>
                    <img src="../../static/uploads/{{ product['photo'] }}" alt="">
                    <p>{{ form.price.label }} {{ form.price() }}</p>
                    <p>{{ form.category_id.label }} {{ form.category_id() }}</p>
                    <p>{{ form.submit(value="Enviar") }}</p>
                    <a href="/"><input class="cancelar" value="Cancelar"></a>
                </form>
        {% endif %} 
    </main>
    
</body>
</html>