
    
    {% extends 'layout.html' %}
    {% block content %}
    <div class="card w-55">
        <img src="../../static/uploads/{{item['photo'] }}" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
            <h2 class="card-title">{{ item['title'] }}</h2>
            <p class="card-text" style="word-wrap: break-word;">{{ item['description'] }}</p>
            <p class="card-text">{{ item['price'] }}€</p>
            <a href="/products/update/{{ item['id'] }}">
                <button class="btn btn-warning edit-button">
                    <span class="button-text">✎</span> Editar
                </button>
            </a>
            <form action="/products/delete/{{ item['id'] }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este producto?')">
                {{ deleteForm.csrf_token }}
                <p>{{ deleteForm.submit(value="🗑 Eliminar", class="btn btn-danger delete-button") }}</p>
            </form>
        </div>
    </div>
    {% endblock %}