DATABASE = 'nombre_database'
SQLALCHEMY_ECHO = True/False
SECRET_KEY = "tu secret key"

MAIL_SENDER_NAME = 'nombre'
MAIL_SENDER_ADDR = 'mail'
MAIL_SMTP_PASSWORD = 'password'
MAIL_SMTP_SERVER="smtp.gmail.com"
MAIL_SMTP_PORT=587

CONTACT_ADDR = 'mail'
EXTERNAL_URL = 'url'

ALLOWED_EXTENSIONS = {'tus', 'extensiones'}
UPLOAD_FOLDER = 'tu/ruta'
